<footer class="footer">
  <small>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Me", about_path %></li>
      <li><%= link_to "Contact Info", contact_path %></li>
      <li><a href="https://github.com/Alex-Tideman">My Code</a></li>
    </ul>
  </nav>
</footer>